@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Cossette+Titre:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');
*{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.container{
    background-image: linear-gradient(to right , #01022de5 ,#00000088),
    url(image.png)
    ;
    height: 600px;
    width: 95%; 
}
.container:hover{
    background-image: linear-gradient(to right , #01022de5 50%,transparent),
    url(image.png)
    ;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 10px;
}
ul{
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  
}
a{
    color: white;
    padding: 15px;
    margin: 10px;
    text-decoration-line: none;
    font-size: 10px;
    font-weight: 400;
}
a:hover{
    border-bottom: 1px solid white;
}
.logo{
    font-size: 40px;
}
.content{
    color: white;
    padding: 0px 70px;
    margin: 10px;
}
h1{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 70px;
    font-weight: 500;
}
p{
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    padding: 10px;
    margin: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
